# Imports

In [1]:
import pandas as pd
import numpy as np

In [14]:
pd.set_option("display.max_rows", 100)  # Set to any number you prefer

# Functions

# Data

In [2]:
df_train = pd.read_csv("../../data/part_1/train.csv")
df_test = pd.read_csv("../../data/part_1/test.csv")
df_testlabels = pd.read_csv("../../data/part_1/test_labels.csv")
df_sample = pd.read_csv("../../data/part_1/sample_submission.csv")

In [9]:
all_dfs_names = ["Training", "Testing", "Testing Labels", "Sample Submission"]
all_dfs = [df_train, df_test, df_testlabels, df_sample]

for _, name in enumerate(all_dfs_names):
    print("\n")
    print(name)
    display(all_dfs[_].head())

Training

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

Testing

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

Testing Labels

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,-1,-1,-1,-1,-1,-1
1,0000247867823ef7,-1,-1,-1,-1,-1,-1
2,00013b17ad220c46,-1,-1,-1,-1,-1,-1
3,00017563c3f7919a,-1,-1,-1,-1,-1,-1
4,00017695ad8997eb,-1,-1,-1,-1,-1,-1

Sample Submission

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.5,0.5,0.5,0.5,0.5,0.5
1,0000247867823ef7,0.5,0.5,0.5,0.5,0.5,0.5
2,00013b17ad220c46,0.5,0.5,0.5,0.5,0.5,0.5
3,00017563c3f7919a,0.5,0.5,0.5,0.5,0.5,0.5
4,00017695ad8997eb,0.5,0.5,0.5,0.5,0.5,0.5

# EDA

## Training

In [12]:
df_train.isnull().sum()

id               0
comment_text     0
toxic            0
severe_toxic     0
obscene          0
threat           0
insult           0
identity_hate    0
dtype: int64

In [ ]:
display(
    df_train[
        
    ]
)

## Testing

In [15]:
df_test.isnull().sum()

id              0
comment_text    0
dtype: int64

## Labels

In [16]:
df_testlabels.isnull().sum()

id               0
toxic            0
severe_toxic     0
obscene          0
threat           0
insult           0
identity_hate    0
dtype: int64

## Submission

In [17]:
df_sample.isnull().sum()

id               0
toxic            0
severe_toxic     0
obscene          0
threat           0
insult           0
identity_hate    0
dtype: int64

In [10]:
df_train.head(1000)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
995,02b8e9f1f138d728,""" Hi, Writingrights, Welcome to Wikipedia! \n...",0,0,0,0,0,0
996,02b90e56ec25a4c1,It is common knowledge that Karaims (but not K...,0,0,0,0,0,0
997,02b91acc085c26f8,", 12 April 2006 (UTC)\nThen rewrite and expand...",0,0,0,0,0,0
998,02b94ce316048bc1,"""I was trying to inject some humour (as eviden...",0,0,0,0,0,0
999,02b9ef57925866c8,"this title should redirect to Altona, Hamburg....",0,0,0,0,0,0